In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from xgboost import XGBRegressor
from sklearn.model_selection import cross_val_score

 # Préparation des données

In [10]:
df = pd.read_csv("BTCBUSD_15m.csv")

In [13]:
df.tail(-50)

,Symbol,Interval,TimeOpenLong,TimeCloseLong,DateOpen,DateClose,OpenPrice,ClosePrice,MaxPrice,MinPrice,...,0P_T-16,0P_T-17,0P_T-18,0P_T-19,0P_T-20,0P_T-21,0P_T-22,0P_T-23,0P_T-24,0P_T-25
50,BTCBUSD,15m,1610479800000,1.610481e+12,2021-01-12 19:30:00.0000000,2021-01-12 19:44:59.9990000,34516.2,34218.4,34644.9,34179.2,...,34032.4,33660.5,33461.0,33205.9,32966.6,33747.1,33320.2,33882.3,34586.0,35194.2
51,BTCBUSD,15m,1610480700000,1.610482e+12,2021-01-12 19:45:00.0000000,2021-01-12 19:59:59.9990000,34217.5,34648.8,34798.8,34137.5,...,33810.8,34032.4,33660.5,33461.0,33205.9,32966.6,33747.1,33320.2,33882.3,34586.0
52,BTCBUSD,15m,1610481600000,1.610482e+12,2021-01-12 20:00:00.0000000,2021-01-12 20:14:59.9990000,34581.7,34347.7,34628.7,33544.7,...,33798.1,33810.8,34032.4,33660.5,33461.0,33205.9,32966.6,33747.1,33320.2,33882.3
53,BTCBUSD,15m,1610481600000,1.610482e+12,2021-01-12 20:00:00.0000000,2021-01-12 20:14:59.9990000,34581.7,34347.7,34628.7,33544.7,...,34382.2,33798.1,33810.8,34032.4,33660.5,33461.0,33205.9,32966.6,33747.1,33320.2
54,BTCBUSD,15m,1610482500000,1.610483e+12,2021-01-12 20:15:00.0000000,2021-01-12 20:29:59.9990000,34262.4,34176.5,34262.4,33832.5,...,34529.1,34382.2,33798.1,33810.8,34032.4,33660.5,33461.0,33205.9,32966.6,33747.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48106,BTCBUSD,15m,1646227800000,NaN,2022-03-02 13:30:00.0000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43817.6
48107,BTCBUSD,15m,1646228700000,NaN,2022-03-02 13:45:00.0000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48108,BTCBUSD,15m,1646229600000,NaN,2022-03-02 14:00:00.0000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48109,BTCBUSD,15m,1646230500000,NaN,2022-03-02 14:15:00.0000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48110,BTCBUSD,15m,1646231400000,NaN,2022-03-02 14:30:00.0000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
len(df)

48111

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48111 entries, 0 to 48110
Data columns (total 58 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Symbol                    48111 non-null  object
 1   Interval                  48111 non-null  object
 2   TimeOpenLong              48111 non-null  int64
 3   TimeCloseLong             48082 non-null  float64
 4   DateOpen                  48111 non-null  object
 5   DateClose                 48082 non-null  object
 6   OpenPrice                 48082 non-null  float64
 7   ClosePrice                48082 non-null  float64
 8   MaxPrice                  48082 non-null  float64
 9   MinPrice                  48082 non-null  float64
 10  Volume                    48082 non-null  float64
 11  QuoteAssetVolume          48082 non-null  float64
 12  NumberOfTrades            48082 non-null  float64
 13  TakeBuyrBaseAssetVolume   48082 non-null  float64
 14  TakerBuyQuoteAssetVolume  48082 non-null  float64
 15  IsCurrent                 48111 non-null  bool
 16  Tenken                    48082 non-null  float64
 17  Kinjun                    48082 non-null  float64
 18  SSB                       48029 non-null  float64
 19  LaginSpan                 48049 non-null  float64
 20  SSA                       48060 non-null  float64
 21  EcartPriceTenken          48074 non-null  float64
 22  EcartPriceKinjun          48057 non-null  float64
 23  EcratTenkenKinjun         48065 non-null  float64
 24  TendancePrice             48000 non-null  object
 25  TendanceLaginSpan         47967 non-null  object
 26  MarketPriceId_laginSpan   48085 non-null  float64
 27  Reference                 30279 non-null  object
 28  Variable                  30279 non-null  object
 29  SignalType                30279 non-null  object
 30  LevelType                 30279 non-null  object
 31  SignalSens                30279 non-null  object
 32  Comment                   30279 non-null  object
 33  0P_T-1                    48082 non-null  float64
 34  0P_T-2                    48082 non-null  float64
 35  0P_T-3                    48082 non-null  float64
 36  0P_T-4                    48082 non-null  float64
 37  0P_T-5                    48082 non-null  float64
 38  0P_T-6                    48082 non-null  float64
 39  0P_T-7                    48082 non-null  float64
 40  0P_T-8                    48082 non-null  float64
 41  0P_T-9                    48082 non-null  float64
 42  0P_T-10                   48082 non-null  float64
 43  0P_T-11                   48082 non-null  float64
 44  0P_T-12                   48082 non-null  float64
 45  0P_T-13                   48082 non-null  float64
 46  0P_T-14                   48082 non-null  float64
 47  0P_T-15                   48082 non-null  float64
 48  0P_T-16                   48082 non-null  float64
 49  0P_T-17                   48082 non-null  float64
 50  0P_T-18                   48082 non-null  float64
 51  0P_T-19                   48082 non-null  float64
 52  0P_T-20                   48082 non-null  float64
 53  0P_T-21                   48082 non-null  float64
 54  0P_T-22                   48082 non-null  float64
 55  0P_T-23                   48082 non-null  float64
 56  0P_T-24                   48082 non-null  float64
 57  0P_T-25                   48082 non-null  float64
dtypes: bool(1), float64(44), int64(1), object(12)
memory usage: 21.0+ MB

 # Modèles